body{
    background-image: url(img/background2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .tabel1{
    color:darkblue;
    background-color: antiquewhite;
}

#para1,#para2{
   font-size: 16px;
}

#para3{
   background-color: aquamarine;
   border-width: bold;
}